<p id="notice"><%= notice %></p>

<p>
  <strong>Nama website:</strong>
  <%= @task.website_name %>
</p>

<p>
  <strong>No. Telefon:</strong>
  <%= @task.no_fon %>
</p>

<p>
  <strong>Kaedah:</strong>
  <%= @task.kaedah %>
</p>

<p>
  <strong>No. Tiket:</strong>
  <%= @task.no_tix %>
</p>

<p>
  <strong>Alasan:</strong>
  <%= @task.reason %>
</p>

<small>  <%= @task.created_at %></small>

<br/>

<% if user_signed_in? %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
